extends layout

block content
	form.form-horizontal(method='post')
		fieldset
			legend 用户登录
			.form-group
				label.col-sm-2.col-sm-offset-2.control-label(for='username') 用户名
				.col-sm-3
					input.form-control#username(type='text',name='username')
					p.help-block 你的账户名称，用于登录和显示。

			.form-group
				label.col-sm-2.col-sm-offset-2.control-label(for='password') 密码
				.col-sm-3
					input.form-control#password(type='text',name='password')

			.form-actions
				.col-sm-2.col-sm-offset-6
					button.btn.btn-primary(type='submit') 登录