form.form-horizontal(method='post' action='/post' style='text-align:center;')
  .form-group
    .col-sm-8.col-sm-offset-2
      input.form-control(type='text',id='post',name='post')
    .col-sm-2
      button(type='submit' class='btn btn-success')
        span.glyphicon.glyphicon-comment
        span 留言